.navigation-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.css-navigation-link, .css-logout-link {
  color: #6c757d;
  text-decoration: none;
}

.css-navigation-link:hover, .css-logout-link:hover {
  color: #0d6efd;
}

.css-users-info-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1050;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.css-search {
  width: 93%;
  border: none;
  outline: none;
}

.css-users-table-head td {
  background-color: #0d6efd;  
  color: #f8f9fa;
}

.css-users-table-body td {
  color: #6c757d;
}